*{
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}
html{
    height: 100%;
}
body{
    background-color: white;
    width: 100%;
    height: 100%;
}
nav{
    height: 100px;
    width: 100%;
    background-color: rgb(49, 49, 49);
    display: flex;
    flex-direction: row-reverse;
    justify-content: right;
    align-items: center;
}
li{
    text-decoration: none;
    list-style-type: none;;
    color: white;
    padding: 0 40px ;
    font-size: 40px;
    transition: ease all 0.4s;
}
a{
    text-decoration: none;
}
li:hover{
    cursor: pointer;
    color: lightgrey;
    transition: ease all 0.4s;
}

#form_container{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#form{
    border-radius: 20px;
    position: relative;
    border: solid;
    width: 30%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}
#form img{
    width: 50%;
    height: 40%;
    border-radius: 20px;
}
#form input{
    width: 40%;
    background-color: white;
    border: solid;
    border-radius: 20px;
}
#form input[type=file]{
    position: absolute;
    width: 50%;
    height: 40%;
    top: 10%;
    opacity: 0;
}
#form input[type=submit]:hover{
    background-color: lightgray;
}
#form input[type=submit]:active{
    background-color: grey;
    color: white;
    border: solid black;
}
#gallery{
    background-color: lightgrey;
    padding: 20px;
    border-radius: 20px;
    width: 80%;
    margin-left: 10%;
    margin-top: 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
.image-container{
    width: 20%;
    height: 200px;
    margin: 0 10px;
}
.image-container h2{
    height: 20%;
}
.image-container div{
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-container img{
    width: 100%;
    max-height: 100%;
}
.image-container div:hover{
    cursor: pointer;

}
/* ====================================== PHONE */
@media (max-height: 915px) and (max-width: 605px) {
    li{
        font-size: 30px;
    }
    #gallery{
        margin: 10%;
        padding: 0;
    }
    .image-container{
        padding: 0;
        margin: 10px;
        width: 40%;
        height: 150px;
    }
    #form_container{
        width: 100%;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #form{
        border-radius: 20px;
        position: relative;
        border: solid;
        width: 80%;
        height: 70%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-direction: column;
    }
    #form img{
        width: 50%;
        height: 40%;
        border-radius: 20px;
    }
    #form input{
        height: 30px;
        width: 40%;
        background-color: white;
        border: solid;
        border-radius: 20px;
    }
}